body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh
}

span{
    display:inline-block;
    padding: 50px;
}
.conteudo1{
    background-color: red;
}
.conteudo2{
    background-color:blue;
}
.conteudo3{
    background-color:yellow;
}
.conteudo4{
    background-color:purple;
}
